// Style sezione dc footer
#dc {
    background-image: url('../images/footer-bg.jpg');
    
    .bg-logo {
        background-image: url('../images/dc-logo-bg.png');
        background-size: cover;
        background-position: center;
    }

    h4 {
        color: white;
        margin: 10px 0;
    }
    
    li a {
        font-size: 0.7rem;
    }
}