header {
    ul {
      display: flex;
      text-transform: uppercase;
      margin: 60px 0;
      
      li {
        margin-right: 15px;
        
        a {
          font-weight: bold;
          color: #4e585f;
          height: 100%;
          
          &.active {
            color: $dc-color;
          }
        }
      } 
    }

    form {
      border-bottom: 3px solid $dc-color;
    }

    input {
      border-color: transparent;
      width: 100px;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: right;
      outline: none;
    }

    button {
      border-color: transparent;
      background-color: transparent;
      font-size: 0.9rem;
    }
  }